body {
    background-color: #202124;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
}

.home-button {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 24px;
}

.header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 250px auto auto auto;
    width: 45%;
}

.header, .box, .button-container {
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
    height: 8rem;
    border-radius: 10px;
}

.toggle-switch {
    position: absolute;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 26px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4E4C4E;
    transition: .4s;
    border-radius: 26px;
}

.switch::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .switch {
    background-color: #2196F3;
}

input:checked + .switch::before {
    transform: translateX(24px);
    background-color: #f9fc55;
}

a {
    color: inherit;
}

.button {
    background-color: #333333;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    flex-grow: 1;
    margin: 10px;
}

.button a {
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: #555555;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    height: 8rem;
}

.subpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
    width: 60%;
}

.subpage-header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 30px;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.project.reverse {
    flex-direction: row-reverse;
}

.project-thumbnail {
    width: 48%;
    height: auto;
}

.project-thumbnail img {
    width: auto;
    height: 300px;
    border-radius: 10px;
}

.project-description {
    width: 48%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-description h3 {
    font-family: "Poppins", sans-serif;
}

.project-description p {
    font-family: "Raleway", sans-serif;
}

.qualifications-description {
    text-align: left;
    margin-bottom: 1rem;
}

